<h1>AI chat</h1>

<p>
  Welcome to AI chat! This is a simple chat application built with Rails 8, Hotwire and Turbo.
</p>

<p>
  It uses SQLite for the database and Vite for the JavaScript bundler.
</p>
